body {
    background-image: url("boteco.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Estiliza ambos os inputs de texto */
input[type="text"] {
    display: block; /* Faz cada input ocupar sua própria linha */
    width: 30%; /* Largura do input */
    padding: 12px; /* Espaçamento interno */
    margin: 10px auto; /* Centraliza e adiciona espaço entre eles */
    font-size: 16px; /* Tamanho do texto dentro do input */
    border: 2px solid #ccc; /* Borda cinza */
    border-radius: 8px; /* Cantos arredondados */
    background-color: #f8f8f8; /* Cor de fundo clara */
    text-align: center; /* Centraliza o texto do placeholder */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    text-align: center;
}

.box button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: black;
}

.hidden {
    display: none;
}

#game-area {
    text-align: center;
}

#countdown {
    font-size: 5em;
    font-weight: bold;
}

.players {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.player {
    text-align: center;
}

.player img {
    width: 500px; /* Ajuste o tamanho da imagem do revólver */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Espaço entre o nome e a imagem */
    margin-bottom: 0; /* Remove o espaço abaixo da imagem */

}


#result-message {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
}

.play-again-button {
    display: block;
    margin: 20px auto; /* Centraliza o botão */
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}